*
	margin 0
	padding 0
	
// Clases Generales
.centrar
	width 100%
	text-align center
	margin 0 auto
// Paleta de colores

//Variables
gris_oscuro=#1F1F1F

//Archivos jalados
@import 'nib'
@import 'header.styl'
@import 'about-me.styl'
@import 'skill.styl'
@import 'portafolio.styl'
@import 'anuncio.styl'
@import 'valores.styl'
html 
	font-family 'Open Sans','Arial',sans-serif;
body
	background lightgray

