.Header-Main
	background #AC7E5D
	background-image url(../images/cover.jpg)
	background-size cover
	background-repeat no-repeat
	padding-bottom 9em
	&__box
		text-align center
	&__Nav
		background purple
		.Nav__list
			text-align center
		.Nav__item
			display block
			list-style none
		.Nav__link
			display block
			padding 1em
			text-decoration none
			color white
			transition .3s	
			&:hover
				background peru
				color white
	&__Autor
		display block
		text-align center
		padding-top 2em
		padding-bottom 2em		
		.Autor__img
			display block
			img
				border-radius 50%
		.Autor__Name
			display block
			width 330px
			border 5px solid white
			h1
				font-size 2.6em
				color white
		h2
			font-size 2em
			color white

@media (min-width 768px)
	.Header-Main
		&__Nav
			.Nav__item
				display inline-block
				